header {
  text-align: center;
  color: #0881a3;
  font-size: 35px;
  font-weight: 700;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  color: #0881a3;
  font-weight: 500;
}

form {
  text-align: center;
}

form,
.weather-today,
.weather-forecast {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li.description {
  text-transform: capitalize;
}
.container {
  padding: 30px;
}

.weather-app {
  display: block;
  margin: 0 auto;
  max-width: 550px;
  border: solid 2px #0881a3;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #fde9df;
  font-family: "DM Sans", sans-serif;
}

.entry-field {
  position: relative;
  left: 7px;
  margin-bottom: 5px;
  padding: 3px 4px;
  border-radius: 4px;
  width: 250px;
  border-color: #0881a3;
}

.location-icon {
  color: #0881a3;
  font-size: 20px;
  position: relative;
  left: 12px;
  transition: all 200ms ease-in-out;
}
.location-icon:hover {
  color: rgba(8, 129, 163, 0.7);
  cursor: pointer;
}

.submit-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  background-color: #0881a3;
  color: #fffdfb;
  transition: all 200ms ease-in-out;
}
.submit-button:hover {
  background-color: rgba(8, 129, 163, 0.7);
  cursor: pointer;
}

.card-body {
  background-color: #fffdfb;
  border-radius: 4px;
}

.col {
  padding: 6px;
}

.temperature-today {
  font-size: 27px;
}

.weather-icon-today {
  max-width: 55px;
  position: relative;
  top: -5px;
}

.temp-units {
  display: inline;
  position: absolute;
  left: 94px;
  top: 30px;
  font-size: 13px;
  padding-left: 2px;
}

.celsius:hover,
.fahrenheit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.city {
  font-size: 26px;
  font-weight: 500;
  padding-left: 3px;
  padding-right: 3px;
}

.date-time,
.humidity,
.wind,
.description {
  padding-left: 3px;
  padding-right: 3px;
}

.description,
.humidity,
.wind {
  color: rgba(0, 0, 0, 0.6);
}

.temperature-today {
  position: relative;
  top: -52px;
  left: 54px;
}

.body-weather-forecast {
  padding: 16px 75px;
}

.day-forecast,
.temp-forecast {
  font-size: 20px;
}

.degree-forecast {
  font-size: 14px;
  position: relative;
  top: -4px;
}

.icon-forecast {
  font-size: 25px;
  text-align: right;
}
